* {
    font-family: "Microsoft YaHei", "Arial", "黑体", "宋体", sans-serif;
    font-size: 1.7rem;
}

.item {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.item img {
    width: 2rem;
}

.item span {
    margin-left: 1rem;
}

.item button {
    margin-left: 2.2rem;
    margin-top: 1.2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container .card-info {
    display: inline-block;
    width: 30%;
    margin: 2rem 2rem 0 0;
    padding: 1rem;
    border-color: #dbdad8;
    border-style: solid;
    border-width: 1px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}