.background {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.login-container {
    background: rgba(0.8, 0.8, 0.8, 0.4);
    padding: 3rem 0;
    position: fixed;
    width: 30%;
    top: 30%;
    left: 35%;
    z-index: 1;
}

.login-container .title {
    color: #d9e2ec;
}

.login-container .input-container {
    margin-top: 2rem;
}

.login-container .input-container input {
    background-color: transparent;
    color: #d9e2ec;
    margin-top: 1rem;
    margin-left: 2%;
    padding-bottom: 0.3rem;
    border-width: 0 0 1px 0;
    outline: none;
    height: 4rem;
    width: 70%;
}

.login-container .input-container .icon {
    height: 3rem;
    width: 10%;
}

.login-container .input-container button {
    position: relative;
    margin-top: 4rem;
    width: 80%;
    left: 11%;
    background: #748cfa;
}

