.user-container {
    margin-top: 8rem;
}

.info-container {
    margin-top: 3rem;
}

.info-container span {
    margin: 0 4rem 0 2rem;
}

.info-container button {
    margin-right: 2rem;
}

.info-container > img {
    position: relative;
    left: 3rem;
    width: 35%;
    margin-bottom: 1.5rem;
}

hr {
    margin: 0;
}

.team-title {
    width: 40%;
}

.bar {
    display: block;
    width: 12rem;
    border-width: 0 0 0.4rem 0;
    border-color: #4fd272;
    border-style: solid;
}
