.user-container {
    margin-top: 8rem;
}

.info-container {
    margin-top: 3rem;
}

.info-container span {
    margin: 0 4rem 0 2rem;
}

.info-container button {
    margin-right: 2rem;
}

.info-container > img {
    position: relative;
    left: 3rem;
    width: 35%;
    margin-bottom: 1.5rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
}

.team-container {
    margin-top: 3.6rem;
}

.team-container hr {
    margin: 0;
}

.team-title {
    width: 40%;
}

.team-container .team-info {
    display: inline-block;
    position: relative;
    width: 40%;
    margin: 2rem 8% 0 0;
    padding: 1rem;
    border-color: #dbdad8;
    border-style: solid;
    border-width: 1px;
}

.team-info .map-list {
    display: inline-block;
}

.team-info .map-list a {
    display: block;
    margin-left: 1rem;
}

.bar {
    display: block;
    width: 12rem;
    border-width: 0 0 0.4rem 0;
    border-color: #4fd272;
    border-style: solid;
}
