<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Map List</title>
    <link rel="stylesheet" th:href="@{css/global.css}"/>
    <link rel="stylesheet" th:href="@{css/form-page.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>

    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{js/jquerysession.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        if($.session.get('userId')==null){
            window.location.href="/login";
        }
        /*]]>*/
    </script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="user">User Story Mapping Tool</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="javascript:logout();">logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container form-container">
    <h4 class="title">Map List</h4>
    <div class="card-container" id="mapContainer"></div>

    <div class="button-container">
        <a class="btn btn-default button" href="/user">Return</a>
    </div>
</div>

<div id="tip"></div>

<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/template-web.js}"></script>
<script th:src="@{js/util.js}"></script>
<script th:src="@{js/account.js}"></script>

<script id="mapListTpl" type="text/html">
    {{each mapList map}}
    <div class="card-info" id="{{map.id}}">
        <div class="title-container">
            <div class="item">
                <img src="../icons/star.svg" alt="" title="map name">
                <span><strong><a href="javascript:showMap({{map.id}})">{{map.name}}</a></strong></span>
            </div>

            <ul class="nav nav-pills">
                <li class="dropdown all-camera-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Edit<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:makeInfoModifiable({{map.id}})">Modify</a></li>
                        <li><a href='javascript:removeMap({{map.id}})'>Remove</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="item">
            <img src="../icons/leader.svg" alt="" title="map creator">
            <span>{{map.creatorName}}</span>
        </div>
        <div class="item">
            <img src="../icons/team.svg" alt="" title="team name">
            <span>{{map.teamName}}</span>
        </div>
        <div class="item">
            <img src="../icons/date.svg" alt="" title="created time">
            <span>{{map.creatAt}}</span>
        </div>
        <div class="item">
            <img src="../icons/description.svg" alt="" title="description">
            <span id="{{map.id}}-description">{{map.description}}</span>
            <input id="{{map.id}}-oldDescription" type="text" value="{{map.description}}" hidden="hidden">
            <input id="{{map.id}}-mapInfo" type="text" value="{{map}}" hidden="hidden">
        </div>
        <div class="item" style="display: none;" id="{{map.id}}-modifyButton">
            <button class="btn btn-default" onclick="submitModify({{map.id}})">Modify</button>
        </div>
    </div>
    {{/each}}
</script>

<script>
    const params = parseQueryString(window.location.search.substring(1));

    $.ajax({
        url: '/getMaps',
        method: 'get',
        data: {'teamId': params['teamId']},
        success : function (result) {
            if (result.success) {
                $('#mapContainer').html(template(
                    'mapListTpl', {mapList: result.data}
                ));
            } else {
                showTip($('#tip'), result.message);
                $('#userName').text('UNKNOWN');
                $('#userEmail').text('UNKNOWN');
            }
        },
        error: function (result) {
            showTip($('#tip'), result);
        }
    });

    function showMap(mapId) {
        $.session.set("mapId", mapId);
        window.location = "/storymap";
    }

    function removeMap(mapId) {
        $.ajax({
            url: '/deleteMap',
            method: 'post',
            data: {mapId: mapId},
            success: function (result) {
                if (result.success) {
                    $('#' + mapId).hide();
                    showTip($('#tip'), 'Successfully remove the map', '#5DD259');
                } else {
                    showTip($('#tip'), result.message);
                }
            },
            error: function (result) {
                showTip($('#tip'), result);
            }
        })
    }

    function makeInfoModifiable(mapId) {
        const description = $('#' + mapId + '-description');

        const style = 'padding: 6px 12px; border-radius: 4px; color: #555; background-color: #fff;';
        const id = mapId + '-newDescription';
        const textArea = '<textarea style="' + style + '" placeholder="Input a new description" id="' + id + '">';
        $('#' + mapId + '-oldDescription').val(description.val());
        // description.html(textArea);
        document.getElementById(mapId + '-description').innerHTML = textArea;
        $('#' + mapId + '-modifyButton').show();
    }

    function submitModify(mapId) {
        const newDescription = $('#' + mapId + '-newDescription').val();
        const oldDescription = $('#' + mapId + '-oldDescription').val();
        let mapInfo = JSON.parse($('#' + mapId + '-mapInfo').val());
        mapInfo['description'] = newDescription;

        $.ajax({
            url: '/modifyMap',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify(mapInfo),
            success: function (result) {
                if (result.success) {
                    renderUserInfo(mapId, newDescription);
                    showTip($('#tip'), 'Successfully modify the map', '#5DD259');
                } else {
                    showTip($('#tip'), result.message);
                    renderUserInfo(mapId, oldDescription);
                }
            },
            error: function (result) {
                showTip($('#tip'), result);
                renderUserInfo(mapId, oldDescription);
            }
        });
    }

    function renderUserInfo(mapId, description) {
        const descElement = $('#' + mapId + '-description');
        descElement.html();
        descElement.text(description);

        $('#' + mapId + '-modifyButton').hide();
    }
</script>


</body>
</html>