<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Member Removal</title>
    <link rel="stylesheet" th:href="@{css/global.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/form-page.css}"/>

    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{js/jquerysession.js}"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="user">User Story Mapping Tool</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="javascript:logout();">logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<form class="container form-container">
    <h4 class="title">Remove a member</h4>
    <div id="memberList"></div>

    <div class="button-container">
        <a class="btn btn-default button" href="/user">Cancel</a>
    </div>
</form>

<div id="tip"></div>

<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrapValidator.min.js}"></script>
<script th:src="@{js/template-web.js}"></script>
<script th:src="@{js/util.js}"></script>
<script th:src="@{js/account.js}"></script>

<script id="memberListTpl" type="text/html">
    {{each memberList member}}
    <div class="card" id="{{teamId}}-{{member.name}}">
        <div class="item">
            <img src="../icons/name.svg" alt="">
            <span>{{member.name}}</span>
        </div>
        <div class="item">
            <img src="../icons/email.svg" alt="">
            <span>{{member.email}}</span>
        </div>
        <div class="item">
            <a class="btn btn-danger" onclick="removeMember({{teamId}}, '{{member.name}}')">Remove</a>
        </div>
    </div>
    {{/each}}
</script>

<script>
    function removeMember(teamId, userName) {
        $.ajax({
            url: '/deleteMember',
            method: 'post',
            data: {userName: userName, teamID: teamId},
            success: function (result) {
                if (result.success) {
                    showTip($('#tip'), 'Successfully remove a new member', '#5DD259');
                    $('#' + teamId + '-' + userName).hide();
                } else {
                    showTip($('#tip'), result.message);
                }
            },
            error: function (result) {
                showTip($('#tip'), result);
            }
        })
    }

    $.ajax({
        url: '/getUsers',
        method: 'get',
        success: function (result) {
            if (result.success) {
                const teamId = parseInt($.session.get('teamId'));
                const allMembers = JSON.parse($.session.get('members'));
                const leader = $.session.get('leader');

                const teamMembers = [];
                for (let i = 0; i < allMembers.length; ++i) {
                    if (allMembers[i].name !== leader) {
                        teamMembers.push(allMembers[i]);
                    }
                }

                $('#memberList').html(template(
                    'memberListTpl', {memberList: teamMembers, teamId: teamId}
                ));
            } else {
                showTip($('#tip'), result.message);
            }
        },
        error: function (result) {
            showTip($('#tip'), result);
        }
    });
</script>

</body>
</html>