<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Reset</title>
    <link rel="stylesheet" th:href="@{css/global.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/form-page.css}"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="user">User Story Mapping Tool</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="javascript:logout();">logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<form class="container form-container" id="passwordContainer">
    <h4 class="title">Password Reset</h4>
    <div class="input-container">
        <input type="email" name="email" class="form-control text-input email" placeholder="Input a your email">
        <span class="help-block has-error" id="emailCheckMessage"></span>
        <input type="password" name="password" class="form-control text-input password" placeholder="Input a new password">
        <span class="help-block has-error" id="passwordCheckMessage"></span>
        <input type="password" name="passwordConfirm" class="form-control text-input password" placeholder="Confirm the new password"></input>
        <span class="help-block has-error" id="passwordConfirmMessage"></span>
    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-primary button">Reset</button>
        <a class="btn btn-default button" href="/user">Cancel</a>
    </div>
</form>

<div id="tip"></div>

<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrapValidator.min.js}"></script>
<script th:src="@{js/util.js}"></script>
<script th:src="@{js/account.js}"></script>

<script>
    $(function () {
        $('#passwordContainer').bootstrapValidator({
            fields: {
                email: {
                    container: '#emailCheckMessage',
                    validators: {
                        notEmpty: {
                            message: "Email shouldn't be empty"
                        }
                    }
                },
                password: {
                    container: '#passwordCheckMessage',
                    validators: {
                        notEmpty: {
                            message: "Name shouldn't be empty"
                        },
                        identical: {
                            field: 'passwordConfirm',
                            message: 'Password should be the same'
                        }
                    }
                },
                passwordConfirm: {
                    container: '#passwordConfirmMessage',
                    validators: {
                        notEmpty: {
                            message: "Description shouldn't be empty"
                        },
                        identical: {
                            field: 'password',
                            message: 'Password should be the same'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            e.preventDefault();

            const form = $(e.target);
            const validator = form.data('bootstrapValidator');
            const email = validator.getFieldElements("email").val();
            const password = validator.getFieldElements("password").val();

            $.ajax({
                url: '/resetPassword',
                type: 'post',
                data: {email: email, password: password},
                success: function (result) {
                    if (result.success) {
                        showTip($('#tip'), result.message, '#5DD259');
                        setTimeout(function () {
                            window.location = '/login';
                        }, 2000);
                    } else {
                        showTip($('#tip'), result.message);
                    }
                },
                error: function (message) {
                    showTip($('#tip'), message);
                }
            });
        });
    });
</script>

</body>
</html>