<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户故事地图</title>

    <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/storymap.css}"/>

    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{js/jquerysession.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/storymap.js}"></script>

    <!--<script th:inline="javascript">-->
        <!--/*<![CDATA[*/-->
        <!--if($.session.get('userID')==null){-->
            <!--window.location.href="/login";-->
        <!--}-->
        <!--/*]]>*/-->
    <!--</script>-->
</head>

<body style="background-color: rgb(250,250,250)">
<nav class="navbar navbar-fixed-top" style="background-color:  rgb(25,26,29);height: 50px;">
    <div class="container-fluid" style="height: 50px;padding-left: 0;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="height: 50px;">
            <div id="back_icon">
                <i class="fa fa-angle-left"></i></div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><div id="nav_user_li">Username</div></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><div id="nav_logout_li">Logout</div></li>
            </ul>
        </div>
    </div>
</nav>

    <div style="overflow:auto;white-space: nowrap;height: 100%;padding-bottom: 50px;margin-top: 50px;">
        <div>
            <!--<div class="backlog_div">-->
                <!--<div>-->
                    <!--<div style="display: inline-block;" class="person_panel">-->
                        <!--<div class="person_card" data-name="TeamMember" title="TeamMember" data-pid="0">-->
                            <!--<img th:src="@{portraits/1.png}" width="30" height="30" class="person_img"/>-->
                            <!--<div class="person_card_operation" style="display: none;">-->
                                <!--<img th:src="@{icons/trash.png}" class="remove_person_icon removePerson"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<img class="add_person_card" th:src="@{icons/add_large.png}" />-->
                <!--</div>-->

                <!--<div class="activity_card" data-aid="0" data-position="">-->
                    <!--<div class="activity_textDiv">text</div>-->
                    <!--<div class="activity_estimation"></div>-->
                    <!--<div class="activity_card_operation" style="display: none;">-->
                    <!--<img th:src="@{icons/left-arrow.png}" class="add_left_icon addActivityLeft"/>-->
                    <!--<img th:src="@{icons/trash.png}" class="remove_icon removeActivity"/>-->
                    <!--<img th:src="@{icons/right-arrow.png}" class="add_right_icon addActivityRight"/>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div style="margin-left: -5px;">-->
                    <!--<div class="task_card" data-tid="0">-->
                        <!--<div class="activity_textDiv">text</div>-->
                        <!--<div class="task_estimation"></div>-->
                        <!--<div class="activity_card_operation" style="display: none;">-->
                            <!--<img th:src="@{icons/left-arrow.png}" class="add_left_icon addTaskLeft"/>-->
                            <!--<img th:src="@{icons/trash.png}" class="remove_icon removeTask" style="display: none;"/>-->
                            <!--<img th:src="@{icons/right-arrow.png}" class="add_right_icon addTaskRight"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="backlog_div" style="width:141px;height: 206px;">
                <div style="margin-top: 50px;text-align: center;">
                    <img class="add_backlog" th:src="@{icons/add_large.png}" /></div>
            </div>
        </div>


        <!--<div style="margin-top: 15px;" data-rid="0" class="release_label"><span>——Release 1</span>-->
            <!--<div style="display: inline-block;width: 20px;height: 20px;">-->
                <!--<img th:src="@{icons/trash.png}" class="remove_release" style="display: none;"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="release_div" data-rid="0">-->
            <!--<div class="backlog_div">-->
                <!--<div class="story_panel"  data-aid="0" style="margin-left: -5px;">-->
                    <!--<div class="story_list" data-tid="0">-->
                        <!--<div class="story_card" data-sid="0">-->
                            <!--<div class="activity_textDiv">text</div>-->
                            <!--<div class="story_state ready">Ready</div>-->
                            <!--<div class="story_estimation"></div>-->
                            <!--<div class="activity_card_operation" style="display: none;">-->
                                <!--<img th:src="@{icons/up-arrow.png}" class="add_up_icon addStoryUp"/>-->
                                <!--<img th:src="@{icons/trash.png}" class="remove_icon removeStory"/>-->
                                <!--<img th:src="@{icons/down-arrow.png}" class="add_right_icon addStoryDown"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="backlog_div">-->
                <!--<div class="story_panel"  style="margin-left: -5px;">-->
                    <!--<div class="story_plus_card">-->
                        <!--&lt;!&ndash;<div style="margin-top: 2px;margin-left: 25px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="add_story" th:src="@{icons/add_large.png}" /></div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <div class="add_release_icon">
                <i class="fa fa-plus" style="font-size: 16px;"></i>
                <span style="margin-left: 2px;">Release</span>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="addPersonModal" data-aid="0">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">add Role Card</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="control-label" style="margin-top: 5px;width: 20%;margin-left: 5%;display: inline-block;">角色名称</label>
                        <div style="width:70%;display: inline-block;">
                            <input type="text" class="form-control" id="personNameInput" placeholder="角色1">
                        </div>
                    </div>
                    <div style="margin-top: 25px;">
                        <label class="control-label" style="margin-top: 5px;width: 20%;margin-left: 5%;display: inline-block;">角色头像</label>
                        <div id="portraitsDiv" style="width:70%;display: inline-block;">
                            <input type="radio" name="roleOption" value="1" style="margin-left: 10px;"/><img th:src="@{portraits/1.png}" class="modal_role_img"/>
                            <input type="radio" name="roleOption" value="2" style="margin-left: 10px;"/><img th:src="@{portraits/2.png}" class="modal_role_img"/>
                            <input type="radio" name="roleOption" value="3" style="margin-left: 10px;"/><img th:src="@{portraits/3.png}" class="modal_role_img"/>
                            <input type="radio" name="roleOption" value="4" style="margin-left: 10px;"/><img th:src="@{portraits/4.png}" class="modal_role_img"/>
                            <input type="radio" name="roleOption" value="5" style="margin-left: 10px;"/><img th:src="@{portraits/5.png}" class="modal_role_img"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="modal_addRole_button">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="modifyPersonModal" data-pid="0">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modify Role Card</h4>
                </div>
                <div class="modal-body">
                    <div class="modal_content" style="min-height: 150px;margin-top: 10px;">
                        <div>
                            <label class="control-label" style="margin-top: 5px;width: 20%;margin-left: 5%;display: inline-block;">角色名称</label>
                            <div style="width:70%;display: inline-block;">
                                <input type="text" class="form-control" id="personNameInput_m">
                            </div>
                        </div>
                        <div style="margin-top: 25px;">
                            <label class="control-label" style="margin-top: 5px;width: 20%;margin-left: 5%;display: inline-block;">角色头像</label>
                            <div style="width:70%;display: inline-block;">
                                <input type="radio" name="roleOption2" value="1" style="margin-left: 10px;"/><img th:src="@{portraits/1.png}" class="modal_role_img"/>
                                <input type="radio" name="roleOption2" value="2" style="margin-left: 10px;"/><img th:src="@{portraits/2.png}" class="modal_role_img"/>
                                <input type="radio" name="roleOption2" value="3" style="margin-left: 10px;"/><img th:src="@{portraits/3.png}" class="modal_role_img"/>
                                <input type="radio" name="roleOption2" value="4" style="margin-left: 10px;"/><img th:src="@{portraits/4.png}" class="modal_role_img"/>
                                <input type="radio" name="roleOption2" value="5" style="margin-left: 10px;"/><img th:src="@{portraits/5.png}" class="modal_role_img"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal_right">
                        <p>create by <span id="roleCard_creator"> XXX</span></p>
                        <p>create at <span id="roleCard_creatAt"> XXX</span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modal_modifyRole_button">save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade bs-example-modal-lg" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" data-aid="">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="activityModalLabel">User Activity Card</h4>
                </div>
                <div class="modal-body" style="padding: 30px 10px 20px 15px;">
                    <div class="modal_person_panel">
                        <div class="modal_person_div">
                            <img th:src="@{portraits/1.png}" width="20" height="20"/>
                            <span style="margin-left: 5px;">TeamLeader</span>
                        </div>
                        <div class="modal_person_div">
                            <img th:src="@{portraits/1.png}" width="20" height="20"/>
                            <span style="margin-left: 5px;">TeamMember</span>
                        </div>
                    </div>
                    <div class="modal_content">
                        XXXX
                        <!--<textarea type="text" class="form-control" rows="13">XXXX</textarea>-->
                        <!--<div class="saveActivity"><i class="fa fa-check"></i></div>-->
                        <!--<div class="cancelModifyAct"><i class="fa fa-close"></i></div>-->
                    </div>
                    <div class="modal_right">
                        <p>create by <span id="activityCard_creator"> XXX</span></p>
                        <p>create at <span id="activityCard_creatAt"> XXX</span></p>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 30px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" data-tid="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="taskModalLabel">User Task Card</h4>
                </div>
                <div class="modal-body" style="padding: 30px 10px 20px 15px;">
                    <div class="modal_content">
                        XXXX
                        <!--<textarea type="text" class="form-control" rows="13">XXXX</textarea>-->
                        <!--<div class="saveActivity"><i class="fa fa-check"></i></div>-->
                        <!--<div class="cancelModifyAct"><i class="fa fa-close"></i></div>-->
                    </div>
                    <div class="modal_right">
                        <p>create by <span id="taskCard_creator"> XXX</span></p>
                        <p>create at <span id="taskCard_creatAt"> XXX</span></p>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 30px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" data-sid="">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="storyModalLabel">Story Card</h4>
                </div>
                <div class="modal-body" style="padding: 30px 10px 20px 15px;">
                    <div class="modal_content" style="min-height: 150px;margin-top: 10px;">
                        <div><label style="min-width: 20%;">Estimation</label>
                            <input type="number" class="form-control" id="story_estimation" placeholder="" style="width: 90%;"/></div>
                        <div style="margin-top: 20px;">
                            <label style="min-width: 20%;">state</label>
                            <select class="form-control" style="width: 90%;" id="story_state_select">
                                <option value="ready">ready</option>
                                <option value="todo">todo</option>
                                <option value="doing">doing</option>
                                <option value="done">done</option>
                            </select></div>
                        <div style="margin-top: 20px;">
                            <label style="min-width: 20%;">content</label>
                            <textarea class="form-control" id="story_content" style="width: 90%;"></textarea>
                        </div>
                    </div>
                    <div class="modal_right">
                        <p>create by <span id="storyCard_creator"> XXX</span></p>
                        <p>create at <span id="storyCard_creatAt"> XXX</span></p>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 30px;">
                    <button type="button" class="btn btn-primary" id="saveStory_button">Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

</script>
</html>
