<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User</title>
    <link rel="stylesheet" th:href="@{css/global.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/user.css}"/>
    <link rel="stylesheet" th:href="@{css/map-create.css}"/>

    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{js/jquerysession.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        if($.session.get('userId')==null){
            window.location.href="/login";
        }
        /*]]>*/
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
　　　　 　　<a class="navbar-brand" href="user">User Story Mapping Tool</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="javascript:logout();">logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container user-container">
    <div class="row">
        <div class="col-md-3 col-sm-4 info-container">
            <img th:src="@{icons/user.svg}" alt="">
            <div class="item">
                <img th:src="@{icons/name.svg}" alt="" th:title="name">
                <span id="userName"></span>
            </div>
            <div class="item">
                <img th:src="@{icons/email.svg}" alt="" th:title="email">
                <span id="userEmail"></span>
            </div>
        </div>

        <div class="col-md-9 col-sm-8">
            <div class="row team-container">
                <h3 class="container-title">My Team</h3>
                <div class="bar"></div>
                <hr>
                <div id="myTeamList"></div>
            </div>

            <div class="row team-container">
                <h3 class="container-title">Join Team</h3>
                <div class="bar"></div>
                <hr>
                <div id="joinTeamList"></div>
            </div>
        </div>
    </div>
</div>

<div id="tip"></div>

<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/template-web.js}"></script>
<script th:src="@{js/util.js}"></script>
<script th:src="@{js/account.js}"></script>

<script id="teamListTpl" type="text/html">
    {{each teamList team}}
        <div class="team-info">
            <div class="title-container">
                <div class="item">
                    <img src="../icons/star.svg" alt="" title="team name">
                    <span><strong>{{team.name}}</strong></span>
                </div>
                <ul class="nav nav-pills">
                    <li class="dropdown all-camera-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Edit<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="map-create?leaderId={{team.leader}}&teamId={{team.id}}">New a map</a></li>
                            <!--<li><a data-toggle="tab">Invite a member</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="item">
                <img src="../icons/leader.svg" alt="" title="leader">
                <span>{{team.leader_name}}</span>
            </div>
            <div class="item">
                <img src="../icons/team.svg" alt="" title="team members">
                <span>{{team.members}}</span>
            </div>
            <div class="item">
                <img src="../icons/description.svg" alt="" title="description">
                <span>{{team.description}}</span>
            </div>
            <div class="item">
                <img src="../icons/map.svg" alt="" title="story mappings">
                <div class="map-list">
                    {{each team.mapInfos map}}
                        <a href="javascript:showMap({{map.id}})">{{map.name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script>
    $.ajax({
        url: '/listUserInfo',
        method: 'post',
        success : function (result) {
            if (result.success) {
                const info = result.data;
                $('#userName').text(info.name);
                $('#userEmail').text(info.email);

                $.ajax({
                    url: '/getTeams',
                    method: 'post',
                    success: function (result) {
                        const teams = result.data;
                        for (let i = 0; i < teams.length; ++i) {
                            let team = teams[i];
                            let members = '';

                            let accounts = team['accountInfos'];
                            for (let j = 0; j < accounts.length - 1; ++j) {
                                members += accounts[j].name + ', ';
                            }
                            if (accounts.length > 0) {
                                members += accounts[accounts.length - 1].name;
                            }
                            team['members'] = members;
                        }

                        let myTeams = [];
                        let joinTeams = [];
                        for (let i = 0; i < teams.length; ++i) {
                            let team = teams[i];
                            if (team['leaderName'] === info.name) {
                                myTeams.push(team);
                            } else {
                                joinTeams.push(team);
                            }
                        }

                        document.getElementById('myTeamList').innerHTML = template('teamListTpl', {teamList: myTeams});
                        document.getElementById('joinTeamList').innerHTML = template('teamListTpl', {teamList: joinTeams});
                    }
                });
            } else {
                showTip($('#tip'), result.message);
                $('#userName').text('UNKNOWN');
                $('#userEmail').text('UNKNOWN');
            }
        },
        error: function (result) {
            showTip($('#tip'), result);
        }
    });

    function showMap(mapId) {
        $.session.set("mapId", mapId);
        window.location = "/storymap";
    }
</script>


</body>
</html>